@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --color-primary: #000;
}

html {
    scroll-behavior: smooth;
}

* {
    @apply box-border;
}

body {
    font-family: Geist, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-feature-settings: 'liga' 1;
    @apply bg-white text-[#171717] dark:bg-[#0a0a0a] dark:text-white;
}

/* Default text alignment by document direction */
[dir='rtl'] body {
    direction: rtl;
    text-align: right;
}

[dir='ltr'] body {
    direction: ltr;
    text-align: left;
}
