@import 'tailwindcss';
@import '@nuxt/ui';

/* Default text alignment by document direction */
[dir='rtl'] body {
    direction: rtl;
    text-align: right;
}

[dir='ltr'] body {
    direction: ltr;
    text-align: left;
}
