# Backend environment
BACKEND_DB_HOST=mysql
BACKEND_DB_PORT=3306
BACKEND_DB_DATABASE=bunyan
BACKEND_DB_USERNAME=bunyan
BACKEND_DB_PASSWORD=bunyan
BACKEND_REDIS_HOST=redis
BACKEND_REDIS_PORT=6379

# Frontend environment
FRONTEND_API_URL=http://localhost:8000

# Compose service names
COMPOSE_PROJECT_NAME=bunyan
