vendor/
node_modules/
.env
.env.*.local
.env.*.*.local
storage/
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.phpstan.cache
.phpunit.cache/
.cache/
build/
*.log
.DS_Store
.idea/
*.swp
*.swo
